html, body {
    margin:0;
    background-color: #222222;
    font-family: 'Poppins';
}

.intro-left {
    background-color: #343333; 

}

.intro-pic {
    background-color: #343333; 
}

/* #contactme {
    background-color: #343333; 
} */

#timeline {
    background-color: #343333; 
}

.intro-role {  
    color:#A6A6A6; 
    font-size: 1.3em;
    
}

.card-font {
    font-size: small;
}

.xicon {
    color:#2F6EBA; 
    padding-right: 20px;
}

footer {
    background-color: #252625;   
    border-top: 2px solid #333333;
}

/* Smartphones ----------- */
@media only screen and (max-width: 540px) {
    .nav-link-header {
        display: none;
    }
}